{% extends "base_time.html" %}

{% block title %}FC BARCELONA - Início{% endblock %}

{% block content %}
    <h1>VOCÊ ESCOLHEU: BARCELONA!</h1>
    <p>O BARÇA É UM DOS MAIORES CLUBES DA EUROPA!</p>
    <p>BEM-VINDO À PÁGINA PRINCIPAL DO BARCELONA! AQUI VOCÊ ENCONTRA TUDO SOBRE UM DOS MAIORES CLUBES DO MUNDO.
        FIQUE POR DENTRO DAS PRINCIPAIS NOTÍCIAS, RESULTADOS DAS PARTIDAS, TABELA DE CLASSIFICAÇÃO, DESEMPENHO
        DOS JOGADORES, CONTRATAÇÕES, ENTREVISTAS E CURIOSIDADES SOBRE O DIA A DIA DO CLUBE. ACOMPANHE TAMBÉM
        INFORMAÇÕES HISTÓRICAS, LISTA DE TÍTULOS E DETALHES SOBRE O ELENCO ATUAL. TUDO O QUE UM TORCEDOR CULÉ
        PRECISA ESTÁ AQUI!</p>
{% endblock %}