{% extends "base_time.html" %}

{% block title %}Títulos{% endblock %}

{% block content %}
    <h1>{{ time_info.nome }} - Nossos Títulos</h1>
    <p>Aqui você encontra a lista de títulos importantes do {{ time_info.nome }}.</p>

    <h2>Principais Conquistas</h2>
    <ul>
        {% for titulo in time_info.titulos_importantes %}
            <li>{{ titulo }}</li>
        {% endfor %}
    </ul>

    <p><a href="{{ url_for('home_time', time_id=time_info.id) }}">Voltar para a página do {{ time_info.nome }}</a></p>
{% endblock %}